<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
metadata-complete="false">
    <listener>
        <listener-class>org.wilson.world.manager.ManagerLoader</listener-class>
    </listener>
    <filter>
        <filter-name>SystemFilter</filter-name>
        <filter-class>org.wilson.world.filter.SystemFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RewriteFilter</filter-name>
        <filter-class>org.wilson.world.filter.RewriteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExtFilter</filter-name>
        <filter-class>org.wilson.world.filter.ExtFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>org.wilson.world.filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>org.wilson.world.filter.PerformanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BalanceFilter</filter-name>
        <filter-class>org.wilson.world.filter.BalanceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SystemFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RewriteFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExtFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
        <url-pattern>/jsp_ext/*</url-pattern>
        <!-- <url-pattern>/public_ext/*</url-pattern> -->
    </filter-mapping>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>REST Servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.wilson.world.api</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Image Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ext Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.ExtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backup Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.BackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Video Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.VideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save Avatar Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.SaveAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download Avatar Servlet</servlet-name>
        <servlet-class>org.wilson.world.servlet.DownloadAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>REST Servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image Servlet</servlet-name>
        <url-pattern>/servlet/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ext Servlet</servlet-name>
        <url-pattern>/servlet/ext/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/servlet/resource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backup Servlet</servlet-name>
        <url-pattern>/servlet/backup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller Servlet</servlet-name>
        <url-pattern>/jsp_ext/*</url-pattern>
        <url-pattern>/public_ext/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form Servlet</servlet-name>
        <url-pattern>/servlet/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Video Servlet</servlet-name>
        <url-pattern>/servlet/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save Avatar Servlet</servlet-name>
        <url-pattern>/Upload/svgavatars/php/save-temp-avatar.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download Avatar Servlet</servlet-name>
        <url-pattern>/Upload/svgavatars/php/download-temp-avatar.php</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>

